* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 35px;
  margin-bottom: 40px;
}
#dark {
  background-color: hsl(207, 26%, 17%);
}
.App {
  font-size: 14px;
  min-height: 100vh;
  width: 100vw;
}
#dark_header {
  background-color: hsl(209, 23%, 22%);
  color: white;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#dark_icon {
  fill: white;
}
#dark_search,
#dark_card,
#dark_filter {
  color: white;
  background-color: hsl(209, 23%, 22%);
}

.search_filter {
  min-height: 100px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -15px;
}

@media only screen and (min-width: 700px) {
  .search_filter {
    flex-direction: row;
    padding: 0 40px;
    margin-left: -2px;
  }
}
